.liveExample {
background-color: #EEEEDD;
border: solid; 
text-align: center;
-webkit-border-radius: 80px;
-moz-border-radius: 80px;
border-radius: 80px;
}
.welcome {
background-color: #EEEEDD;
border: solid; 
text-align: center;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
