.liveExample {
background-color: #EEEEDD;
border: solid; 
-webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;

}
.welcome {
background-color: #EEEEDD;
border: solid; 
text-align: center;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
