.liveExample {
background-color: #EEEEDD;
border: solid; 
text-align: center;
-webkit-border-radius: 45px;
-moz-border-radius: 45px;
border-radius: 45px;

} /* div color and edges */
.welcome {
background-color: #EEEEDD;
border: solid; 
text-align: center;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;

} /* div welcomw color and edges */
.label {
color :black;

}
