
<html>
	<head>
		<title>knockout People</title>
		
		<Link rel = "stylesheet" href = "../bootstrap/css/bootstrap.min.css" type = "text/css"/>
		<Link rel = "stylesheet" href = "../bootstrap/css/bootstrap.css.map" type = "text/css"/>
		<Link rel = "stylesheet" href = "../bootstrap/css/bootstrap-theme.css" type = "text/css"/>
		<Link rel = "stylesheet" href = "../bootstrap/css/bootstrap-theme.css.map" type = "text/css"/>
		<Link rel = "stylesheet" href = "../bootstrap/css/bootstrap-theme.min.css" type = "text/css"/>
		<link rel='stylesheet' href='../css/styles_collections.css' type='text/css'>
	</head>
	<body background = "http://www.ambrosiasw.com/assets/images/graphics_products/ipadwallpaper/wallpaper/Leather.jpg">
		<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Home</a>
					<a href="https://github.com/alfpain" target="blank" class="navbar-btn btn-info btn pull-right">Look my Github</a>

				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My pages<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="../index.html">Frits page</a></li>
								<li class="divider"></li>
								<li><a href="controls.html">Controler</a></li>
								<li class="divider"></li>
								<li><a href="list.html">List</a></li>
							</ul>
						</li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
		<div class="jumbotron top">
			<div class = "row">
				<div class = "col-md-1"></div>
				<div class ="col-md-10">
				<h1>Grocery List (use list.html)</h1>
				</div>
			</div>
		</div>
		<div class = "container">
			<div class = "row">
				<div class = "col-md-2">
					<div class = "welcome"><h2>Welcome</h2></div>
				</div>
				<div class = "col-md-7">
					<div class='liveExample'> 
						
						<h2 class = "people">---------------------------People--------------------------</h2>

						<ul data-bind="foreach: people">
							<li>
								<div>
									<span data-bind="text: name"> </span> has <span data-bind='text: children().length'>&nbsp;</span> children:
									<input type="text" data-bind='value:itemToAdd, valueUpdate: "afterkeydown"'/>
									<button href='#' data-bind='click: addChild '>Add child</button> 
									<span class='renderTime' data-bind='visible: $root.showRenderTimes'>
										(person rendered at <span data-bind='text: new Date().getSeconds()' > </span>)
									</span>
								</div>
								<ul data-bind="foreach: children">
									<li>
										<span data-bind="text: $data"> </span>
										<span class='renderTime' data-bind='visible: $root.showRenderTimes'>
											(child rendered at <span data-bind='text: new Date().getSeconds()' > </span>)
										</span>
									</li>
								</ul>
							</li>
						</ul>
						<label><input data-bind='checked: showRenderTimes' type='checkbox' /> Show render times</label> 
						
					</div>
				</div>
				<div class ="col-md-2">
					<div class = "welcome"><h3>People Collections</h3></div>
				</div>
			</div>
		</div>
	<script type="text/javascript" src = "http://knockoutjs.com/downloads/knockout-3.2.0.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="../bootstrap/js/bootstrap.min.js"></script>
	<script src="../js/script_collections.js"></script>
	</body>
</html>
